.quetion-details-page {
  width: calc(100% - 400px);
  float: left;
  margin-top: 25px;
  padding: 20px;
}

.question-deatil-container {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

.question-detail-container-2 {
  display: flex;
}

.question-vote {
  padding: 5px 20px 5px 10px;
}

.question-vote p {
  font-size: 25px;
  text-align: center;
  margin: 0%;
}
.vote-icon {
  font-size: 40px;
  cursor: pointer;
  color: grey;
}

.question-deatil-container .quetion-body {
  line-height: 22px;
  white-space: pre-line;
}

.question-deatil-container .question-detail-tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.question-deatil-container .question-detail-tags p,
.post-answer-container .ans-tag {
  padding: 5px;
  background-color: #e1ecf4;
  margin: 3px;
  color: #39739d;
  border-radius: 2px;
  font-size: 13px;
}

.question-action-user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-action-user button {
  background-color: transparent;
  border: none;
  padding: 5px 0px;
  margin: 0px 10px 0px 0px;
  color: #939292;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}
.question-action-user button:active {
  border-bottom: 2px solid black;
}

.question-action-user div:nth-child(2) p,
.question-action-user div:nth-child(2) .user-link {
  font-size: 14px;
  margin: 0%;
}
.user-link {
  display: flex;
  align-items: center;
}

.user-link div {
  padding-left: 10px;
}

/* for post answer container */
.post-answer-container form textarea {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: calc(100% - 20px);
  resize: vertical;
}

.post-answer-container form .post-ans-btn {
  padding: 10px;
  margin-top: 20px;
  background-color: #009dff;
  border: 1px solid #009dff;
  /* float: right; */
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.post-answer-container form .post-ans-btn:hover {
  background-color: #0086d8;
}

/* display answer container */

.display-ans {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.112);
}

.display-ans p {
  font-size: 14px;

  white-space: pre-line;
}
.ans-body {
  line-height: 10px;
}
