/* .potion-nav {
  position: relative;
  min-height: 50px;
} */

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 100%;
  margin: 0% auto;
  position: fixed;
  top: 0%;
  left: 0%;
  border-top: solid 3px #ef8236;
  box-shadow: 0px 1px 5px #00000033;
  background-color: #f8f9f9;
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 85%;
}

.nav-logo {
  padding: 5px 25px;
}

.nav-item {
  margin: 0px 3px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(69, 69, 69);
  transition: 0.2s;
}
.nav-btn {
  border-radius: 20px;
  padding: 8px 20px;
}

.nav-btn:hover {
  background-color: #dbdada;
}

.nav-search {
  flex-grow: 1;
  padding: 0px 10px;
  position: relative;
  /* border: 1px solid black; */
}
.navbar form input {
  min-width: 95%;
  margin: 0;
  font-size: 15px;
  padding: 8px 0px 8px 35px;
  border-radius: 15px;
  border: 1px solid #00000015;
  outline: none;
}
.search-icon {
  position: absolute;
  left: 25px;
  top: 8px;
  cursor: pointer;
}
.nav-auth-btn {
  margin: 5px;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
}
.auth-login {
  border: 1px solid hsl(206, 100%, 52%);
}

.auth-signup {
  background-color: hsl(206, 100%, 52%);
  color: white;
}
